{% extends 'base.html' %}
{% block content %}
<div class="p-3 mt-4">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-8">
        <div class="card shadow p-3 mb-4 rounded">
          <div class="card-body">
            <h2>Sign Up</h2>
            <hr />
            <!--post method, so when form is submitted, the data will be 
            sent to current server URL using the HTTP Post method -->
            <form method="POST">
              {% csrf_token %}
              <!--generates Cross-Site Request Forgery (CSRF) token, which
              helps prevent CSRF attacks. Use this tag for all Django forms.-->
              <!--We render template_data.form, which represents the
              UserCreationForm passed from the view function.
              .as_p renders the form fields as HTML paragraphs (<p>)
                By default, UserCreationForm contains three form 
                fields – username, password, and password confirmation.-->
              {{ template_data.form.as_p }}
              <!--submit button-->
              <button type="submit"
                class="btn bg-dark text-white">Sign Up
              </button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock content %}